{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-4">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="https://media.istockphoto.com/id/1300476665/photo/high-angle-view-asian-chinese-womans-hand-on-mobile-app-for-online-food-delivery-during.webp?b=1&s=170667a&w=0&k=20&c=T9YLTb1ZwGOF-A2rjUuAzcUpE3-Cp8m8Q6oXRBH90A8=" class="img-fluid rounded" alt="About Us Image">
        </div>
        <div class="col-md-6">
            <h3>Our Story</h3>
            <p>Welcome to Get Your Food, where our passion for exceptional food meets your need for convenience. Founded by a team of food enthusiasts, Get Your Food Team delivers your favorite meals from top local restaurants right to your doorstep, making delicious dining effortless and accessible. Join us on this culinary journey and taste the difference!</p>
            <h3>Our Mission</h3>
            <p>At Get Your Food, our mission is to revolutionize the way you experience food by delivering fresh, high-quality meals from the best local restaurants straight to your door. We strive to provide exceptional service, convenience, and a diverse culinary selection, ensuring every meal is a delightful experience that brings joy and satisfaction to our customers.</p>
        </div>
    </div>
</div>

{% endblock %}