{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-4">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="https://media.istockphoto.com/id/1300476665/photo/high-angle-view-asian-chinese-womans-hand-on-mobile-app-for-online-food-delivery-during.webp?b=1&s=170667a&w=0&k=20&c=T9YLTb1ZwGOF-A2rjUuAzcUpE3-Cp8m8Q6oXRBH90A8=" class="img-fluid rounded" alt="About Us Image">
        </div>
        <div class="col-md-6">
            <h3>Our Story</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero in dui condimentum, id lacinia odio fermentum. Quisque nec quam auctor, malesuada risus eget, sodales augue. Nunc convallis, erat ut scelerisque hendrerit, orci magna rhoncus odio, nec bibendum arcu urna sed erat.</p>
            <h3>Our Mission</h3>
            <p>Integer sed fermentum nisl. Vivamus nec nisi eu tortor consectetur varius vel ac lectus. Morbi in egestas velit. Ut sit amet semper nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut suscipit odio, in mollis turpis.</p>
        </div>
    </div>
</div>

{% endblock %}