{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    <h1 class="mb-4">Your Food Bucket</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                {% for item in  cart%}

                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-start" src="{{item.product.image.url}}" alt="..." style='width:200px;height:150px;'>
                        <div class="ms-3">
                            <h5 class="mb-1">{{item.product.name}}</h5>
                            <p class="mb-1">{{item.product.description}}</p>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">Quantity</span>
                                <input type="number" class="form-control" value="{{item.quantity}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <h5 class="mb-1">{{item.total_price}}/-</h5>
                        <form method='post'>
                            {% csrf_token %}
                            <input type='hidden' name='id' value='{{item.id}}'>
                            <button class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </div>
                </div>
                {% empty %}
                    <h3>&nbsp&nbsp&nbsp&nbspNo items added to cart...</h3>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Bucket Summary</h5>
                    <p class="card-text">Subtotal: {{total_price.total}}/-</p>
                    <p class="card-text">Tax: 30/-</p>
                    <p class="card-text">Discount: 30/-</p>
                    <p class="card-text"><strong>Total: {{total_price.total}}/-</strong></p>
                    <form action="{% url 'order' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block">Proceed to Checkout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock content %}
