{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Get Your Food</h1>
        <p class="lead">Delicious food delivered to your doorstep.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'menu' %}" role="button">Order Now</a>
    </div>
</div>

<div class="container my-5">
    <h2 class="text-center mb-4">Featured Items</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="https://media.istockphoto.com/id/1424509973/photo/gulab-jamun-an-indian-dessert.webp?b=1&s=170667a&w=0&k=20&c=dTg1FLEAiSVvtg_3HLYF38_pW8Iec1i9yMaLVxMtsXM=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Gulab Jamun</h4>
                    <p class="card-text">A Delicious Dessert Waiting for you...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="https://media.istockphoto.com/id/1085155140/photo/malai-or-achari-paneer-in-a-gravy-made-using-red-gravy-and-green-capsicum-served-in-a-bowl.webp?b=1&s=170667a&w=0&k=20&c=6f2_VPRj2KUSYI35Q5i6w5llzoHzuZCe-HTljbL1Vrg=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Chilli Paneer</h4>
                    <p class="card-text">The Delicious Mix of Panner with veggies...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img"   src="https://t4.ftcdn.net/jpg/03/97/98/73/360_F_397987329_4M4rOKawfjdwC6Gkf6o41i4wXAOwmRCh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Chole Bhature</h4>
                    <p class="card-text">Famous Panjabi style Chole Bhature...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="https://media.istockphoto.com/id/1397648059/photo/malai-kofta-curry.webp?b=1&s=170667a&w=0&k=20&c=Z8B84I7Z6Ct6DWdn-UOnjkspGBAFKE1Yym5D3ZBCd70=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Malai Paneer</h4>
                    <p class="card-text">A Kaju With special malai Tadka...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="https://media.istockphoto.com/id/1156631698/photo/rasgulla-sweet-food.webp?b=1&s=170667a&w=0&k=20&c=kL1Q5EG0ZtF446Hv17j1bKOZf7twEZO8DXTcpk9fb-s=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Ras-Gulla</h4>
                    <p class="card-text">A Delicious Dessert Waiting for you...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-60L-lYk4s_IHm3yu839iHJa1MGpzW1sPVA&s" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Butter Naan</h4>
                    <p class="card-text">Famous Panjabi style Naan With floated butter...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="https://media.istockphoto.com/id/905487810/photo/veg-biryani-or-veg-pulav-or-steamed-rice.webp?b=1&s=170667a&w=0&k=20&c=lUxwO0gDy0dRHxIhNQ73HhABMs-Cz6OPhY__b7h2sAc=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Palav</h4>
                    <p class="card-text">Mix of rice with veggies to give a delicious taste...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="https://media.istockphoto.com/id/2148412141/photo/paneer-lababdar.webp?b=1&s=170667a&w=0&k=20&c=7naV_hgjp5Pp6BEVYxN-HtxTgNMuaH9ItDTrA9HsFbs=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Butter Naan with paneer-lababdar</h4>
                    <p class="card-text">Delicious Meal to your doorstep...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="https://media.istockphoto.com/id/852173226/photo/indian-cuisine-dal-baati.webp?b=1&s=170667a&w=0&k=20&c=a0ECwh9AaIsBobNDepxB_4mYaISvQkY5Us4ZGlg3snI=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Dal Batti</h4>
                    <p class="card-text">Famous Rajasthani dal batti...</p>
                    <a href="{% url 'menu' %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}