{% extends 'base.html' %}
{% block content %}

<section class="hero-section text-center text-white" style="background-image: url('/static/ajax_app/images/bg_image.jpg'); background-size: cover; background-position: center;">
    <div class="container py-5">
        <h1 class="display-4 font-weight-bold">Welcome to Get Your Food</h1>
        <p class="lead">Delicious food delivered to your doorstep, fresh and fast.</p>
        <a class="btn btn-warning btn-lg mt-3" href="{% url 'menu' %}" role="button">Explore</a>
    </div>
</section>


<section class="inspiration-section py-5">
    <div class="container">
        <h2 class="text-left font-weight-bold mb-4">Inspiration for your Orders</h2>
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'menu' %}" class="text-decoration-none text-dark">
                        <div class="">
                            <img src="{{ product.image.url }}" class="rounded-circle" alt="{{ product.name }}" style="width: 150px; height: 150px; object-fit: cover;">
                            <div class="card-body text-left">
                                <h5 class="card-title"><b>{{ product.name }}</b></h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
