{% extends 'base.html' %}

{% block content %}
<div id="response"></div>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">User Registration Form</h3>
            <form id="register_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="image"><i class="fas fa-image"></i> User Profile</label>
                    <input type="file" class="form-control" name="image" id="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="username"><i class="fas fa-user"></i> User Name</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                </div>

                <div class="form-group">
                    <label for="first_name"><i class="fas fa-user"></i> First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name" required>
                </div>

                <div class="form-group">
                    <label for="last_name"><i class="fas fa-user"></i> Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" required>
                </div>

                <div class="form-group">
                    <label for="number"><i class="fas fa-phone"></i> Phone Number</label>
                    <input type="text" class="form-control" name="phone_number" id="number" placeholder="9876543210" required>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="email"><i class="fas fa-envelope"></i> Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" required>
                        </div>
                        <div class="col-6">
                            <label for="mail_verification" id="verify_label">&nbsp;</label>
                            <div id="varification_field">
                                <button id="mail_verification" class="btn btn-success">Verify Mail</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password1"><i class="fas fa-lock"></i> Password</label>
                    <input type="password" name="password1" class="form-control" id="password1" placeholder="Password" required>
                    <small id="passhelp" class="form-text text-muted">
                        <b>*</b> Password must be more than 8 characters<br>
                        <b>*</b> Password must be different from Username<br>
                        <b>*</b> Password must be strong and unique<br>
                        <b>*</b> Password must contain A-Z, a-z, 1-9, @, #, $, &, *, ...
                    </small>
                </div>

                <div class="form-group">
                    <label for="password2"><i class="fas fa-lock"></i> Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm Password" required>
                </div>

                <div class="form-group">
                    <label for="address"><i class="fas fa-home"></i> Address</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Street No.1, House No.1, Indore, Pincode=452040" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'login' %}" class="btn btn-success">Already Registered? Login Here</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        let varify = 0;
        $(document).on("submit", "#register_form", function(event){
            event.preventDefault();
            if(varify == 1){
                var form = $('#register_form')[0];
                var formData = new FormData(form); 
                alert("Verifying your details Please wait...")
                $.ajax({
                    url: "{% url 'registerapi' %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response){
                        $("#response").html('<div class="alert alert-success">' + response + '</div>');
                        window.location.href = "{% url 'login' %}";
                    },
                    error: function(xhr, status, error){
                        if(xhr.responseJSON.message ){
                            $("#response").html('<div class="alert alert-danger">' + xhr.responseJSON.message + '</div>');
                        }
                        else{
                            $("#response").html('<div class="alert alert-danger">' + xhr.responseText + '</div>');
                        }
                    }
                });
            }
            else{
                $("#response").html('<div class="alert alert-danger">Please verify your email first.</div>');
                alert('Please verify your email first.');
            }
        });
        $(document).on("click", "#mail_verification", function(event){
            event.preventDefault();
            if(varify == 0){
                alert("Verifiying Please wait for couple of seconds...");
                var mail = $('#email').val();
                if(mail){
                    $.ajax({
                        url: "{% url 'send_verification_code' %}",
                        type: "POST",
                        data: {'email': mail},
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        success: function(response){
                            alert(response.message);
                            $("#varification_field").html(`
                                <input type="text" name="otp" class="form-control" id="otp" placeholder="Enter Your Verification Code" required>
                                `
                            );
                            varify = 1;
                            $('#email').prop('read_only', true);
                            $('#verify_label').html(
                                "<b>&nbspEnter Otp</b>"
                            );
                            $('#verify_label').addClass('fas fa-lock')
                        },
                        error: function(xhr, status, error){
                            alert(xhr.responseJSON.message);
                        }
                    });
                }
                else{
                    alert("Please enter your mail...");
                }
            }
            else{
                alert('You have already verified your email.');
            }
        });
    });
</script>

{% endblock %}