{% extends 'base.html' %}
{% block content %}


<div class="container my-5">
    <h2 class="text-center mb-4">Our Menu</h2>
    <div class='row'>
    {% for product in products %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <img class="img-thumbnail fixed-size-img" src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.description|truncatechars:28}}</p>
                    <p class="card-text"><strong>{{product.price}}/- &nbsp;rs</strong></p>
                    <form method='post'>
                        {% csrf_token %}
                        <input type='hidden' name='product_id' value='{{product.id}}'>
                        <input type='hidden' name='product_price' value='{{product.price}}'>
                        <button type='submit' class="btn btn-primary">Add TO Cart</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}